# Environments
.env
.venv
env/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class

# Data & Models
/data/raw/
/data/processed/
*.pt
*.pth
*.bin
*.safetensors
/checkpoints/

# Jupyter
.ipynb_checkpoints

# OS
.DS_Store
